<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagamento de Emprestimo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <ion-item>
      <ion-label>Valor do Emprestimo : {{valorEmprestimo}} </ion-label>
    </ion-item>
    <ion-range min="0" max="1000" [(ngModel)]="valorEmprestimo"></ion-range>

    <ion-item>
      <ion-label>Taxa de juros mensal : {{jurosMensal}}%</ion-label>
    </ion-item>
    <ion-range min="0" max="100" [(ngModel)]="jurosMensal"></ion-range>

    <ion-item>
      <ion-label>Quantidade de meses : {{meses}}</ion-label>
    </ion-item>
    <ion-range min="0" max="100" [(ngModel)]="meses"></ion-range>

    <ion-button (click)="calcularEmprestimo()">Calcular Empréstimo</ion-button>

    <ion-item>
      <ion-label>Prestação mensal : {{mensal}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Valor Total do empréstimo : {{valorTotal}}</ion-label>
    </ion-item>
  </div>
</ion-content>
