<br>
<ion-input [(ngModel)]="nota1" label="Primeira nota" label-placement="floating" fill="outline" placeholder="">
</ion-input>
<br>
<br>
<ion-input [(ngModel)]="nota2" label="Segunda nota" label-placement="floating" fill="outline" placeholder="">
</ion-input>
<br>

<br>
<ion-input [(ngModel)]="nota3" label="Terceira nota" label-placement="floating" fill="outline" placeholder="">
</ion-input>
<br>

<br>
<ion-input [(ngModel)]="nota4" label="Quarta nota" label-placement="floating" fill="outline" placeholder=""></ion-input>
<br>

<ion-button (click)="calcularMedia()" color="medium">Calcular Média</ion-button>
<br>

<ion-label>{{Mensagem}}</ion-label>
<br>
