<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="km" label="Quilometragem" labelPlacement="floating" placeholder="Digite a quilometragem"></ion-input>
  </ion-item>

    <ion-radio-group [(ngModel)]="radioselecionada">
      <ion-list-header>Escolha uma opção: </ion-list-header>
      <ion-item>
        <ion-label>Normal</ion-label>
        <ion-radio value="Normal"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Superior</ion-label>
        <ion-radio value="Superior"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>VIP</ion-label>
        <ion-radio value="VIP"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button (click)="mostrar()" expand="block">Mostrar</ion-button>

</ion-content>
