<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Culturas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>
      Escolha as temperaturas dos últimos quatro meses do ano:
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Mês de Setembro:</ion-label>
  </ion-item>
  <ion-item>
    <ion-range aria-label="Range with pin" [pin]="true" [(ngModel)]="setembro"></ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Mês de Outubro:</ion-label>
  </ion-item>
  <ion-item>
    <ion-range aria-label="Range with pin" [pin]="true" [(ngModel)]="outubro"></ion-range>
  </ion-item>


  <ion-item>
    <ion-label>Mês de Novembro:</ion-label>
  </ion-item>
  <ion-item>
    <ion-range aria-label="Range with pin" [pin]="true" [(ngModel)]="novembro"></ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Mês de Dezembro:</ion-label>
  </ion-item>
  <ion-item>
    <ion-range aria-label="Range with pin" [pin]="true" [(ngModel)]="dezembro"></ion-range>
  </ion-item>

  <ion-button (click)="mostrarCulturas()">Mostrar Culturas</ion-button>

</ion-content>
