<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Culturas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="container">
  <ion-item>
    <ion-label>
      Escolha as temperaturas dos últimos quatro meses do ano:
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Mês de Setembro:</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="-30" max="40" aria-label="Range with pin" [pin]="true" [(ngModel)]="setembro"></ion-range>
    <ion-label>{{setembro}}°C</ion-label>
  </ion-item>
   
  

  <ion-item>
    <ion-label>Mês de Outubro:</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="-30" max="40" aria-label="Range with pin" [pin]="true"[(ngModel)]="outubro"></ion-range>
    <ion-label>{{outubro}}°C</ion-label>
  </ion-item>
    
  

  <ion-item>
    <ion-label>Mês de Novembro:</ion-label>
  </ion-item>
 <ion-item>
  <ion-range min="-30"  max="40" aria-label="Range with pin" [pin]="true"  [(ngModel)]="novembro"></ion-range>
    <ion-label>{{novembro}}°C</ion-label>
  </ion-item>
    


  <ion-item>
    <ion-label>Mês de Dezembro:</ion-label>
  </ion-item>
  <ion-item>
    <ion-range min="-30" max="40" aria-label="Range with pin" [pin]="true" [(ngModel)]="dezembro"></ion-range>
    <ion-label>{{dezembro}}°C</ion-label>
  </ion-item>
    


  <button (click)="mostrarCulturas()">Mostrar Culturas</button>
</div>

</ion-content>
